# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
venc/
venv_auth/
venc_auth/

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# OS crap files
.DS_Store
Thumbs.db

# Database (SQLite or others)
*.db

# Logs
*.log
