name: Deploy FastAPI to EC2

on:
  push:
    branches:
      - main   # agar tum master branch use karte ho to yahan master likho

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ${{ secrets.EC2_APP_PATH }}
            git pull
            source venv_aws/bin/activate
            pip install -r requirements.txt
            sudo systemctl restart fastapi.service
